# Dependencies
node_modules
npm-debug.log

# Next.js
.next
out

# Git
.git
.gitignore

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
nul

# Documentation
*.md
LICENSE

# Tests
coverage
.nyc_output

# Build artifacts
build_log.txt
*.log
